.loginForm-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust the path if necessary */
    background-image: url('../Assests/Seller login.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

  .loginForm-login {
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
   
  }

  .loginForm-title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .loginForm-form {
    display: flex;
    flex-direction: column;
  }

  .loginForm-form-group {
    margin-bottom: 1.5rem;
  }

  .loginForm-form-label {
    display: flex;
    gap:3px;
    align-items: center;
    margin-bottom: 0.5rem;
    font-weight: 500;
  }

  .loginForm-form-input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .loginForm-submit-button {
    width: 100%;
    padding: 0.75rem;
    background-color: #CD0101;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .loginForm-submit-button:hover {
    background-color: #CD0101;
  }

  .loginForm-error-message {
    color: red;
    font-size: 0.875rem;
    margin-top: 1rem;
    text-align: center;
  }

  .loginForm-success-message {
    color: green;
    font-size: 0.875rem;
    margin-top: 1rem;
    text-align: center;
  }

  .loginForm-register-link {
    margin-top: 1.5rem;
    text-align: center;
  }

  .loginForm-register-link p {
    margin: 0;
  }
  .login-logo{
    display: flex;
    justify-content: center;
  }
  .login-icon{
    font-size: 20px;
  }
 